<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>

    </title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1450018119_0425067.css">
    <link rel="stylesheet" href="stylesheets/common.css">
    <script src="http://cdn.bootcss.com/jquery/1.8.3/jquery.min.js">
    </script>
</head>

<body>
    <header class="top-header clearfix">
        <nav class="clearfix">
            <div class="left">
                <a href="#">
                    <i class="iconfont icon-icon-tasktodoist">
                    </i>
                </a>
                <span class="description">
                    <span class="name">
                        TMS
                    </span>
                    您的私人管家
                    <%= user.name %>
                </span>
            </div>
            <div class="right">
                <a href="#" class="active">我的任务</a>
                <a href="taskCircle.html" target="_blank">
                   任务圈
               </a>
               <a href="#">
                   设置
               </a>
               <span class="logoutBtn">注销</span>
           </div>
       </nav>
   </header>
   <style>

    .top-header .logoutBtn {
        cursor: pointer;
        color: black;
    }
    .main .taskTypes {
        float: left;
    }
    .main .taskTypes li{
        margin-bottom: 20px;
    }
    .task-wrapper {
        float: left;
    }
    .task-panel {
        display: none;
    }
    .task-panel.on {
        display: block;
    }
    .task-panel li {
        margin-bottom: 20px;
        /*float: left;*/
    }
    .trashContent {
        display: none;
    }
    .trashContent.on {
        display: block;
    }
    .completedTasks .items{
        display: none;
    }
    .completedTasks .items.on {
        display: block;
    }
</style>
<div class="main clear">
   <div class="taskTypes">
     <div class="title">任务类型：</div><br>
     <ul>
         <% user_task.types.forEach(function(type){ %>
         <li class="taskType-item">
             <span class="name"><%= type.type_name %></span>  
             <button class="delete">删除</button>
             <button class="edit">修改</button>
             <span class="modifyBlock dn">
              <input type="text" class="editText">
              <button class="save">保存</button>
              <button class="cancle">取消</button>
          </span>
      </li>
      <% });%>
  </ul>
  <div class="addType">
    <input type="text" class="typeText">
    <button class="addBtn">
     增加任务类型
 </button>
</div>
</div>
<div class="task-wrapper">
    <% user_task.types.forEach(function(type){ %>
    <div class="task-panel">
        <div class="title">任务类型：
            <span class="typeName"><%= type.type_name %></span>    
        </div><br>
        <ul style="color: red">
            <% type.tasks.forEach(function(task){ %>
            <% if (task.complete === false) { %>
            <li>
                <span class="taskName"><%= task.name %></span>    
                <button class="finish">完成</button>
                <button class="seeContent">查看详情</button>
                <button class="edit">修改</button>
                <div class="modifyBlock dn">
                    <input type="text" class="editText">
                    <button class="save">保存</button>
                    <button class="cancle">取消</button>
                </div>
            </li> 
            <% } %>
            <% }); %>
        </ul>
        <div class="addBlock">
            <button class="add">增加任务</button>
            <div class="addBlock-inner dn">
                <input type="text">
                <button class="confirm">确认</button>
                <button class="cancle">取消</button>
            </div>
        </div>
        <div class="completedTasks">
            <% var count = 0; %>
            <% type.tasks.forEach(function(task){ %>
            <% if (task.complete === true) { %>
            <% count++; %>
            <% } %>
            <% }); %>
            <button class="see">查看已完成的</button>
            已完成：<span class="count"><%= count %></span>个
            <button class="delete">清空</button>
            <ul class="items">
                <% type.tasks.forEach(function(task){ %>
                <% if (task.complete === true) { %>
                <li>
                    <span class="name"><%= task.name %></span>    
                    <!-- <button class="restore">还原</button> -->
                </li> 
                <% } %>
                <% }); %>
            </ul>
        </div>
    </div>
    <% }); %>

</div>
<div class="welcomeWords fl">
    <div class="title">
        <% var allTaskNumber = 0; %>
        <% user_task.types.forEach(function(type){ %>
        <% type.tasks.forEach(function(task){ %>
        <% if (task.complete === false) { %>
        <% allTaskNumber++; %>
        <% } %>
        <% }); %>
        <% }); %>
        欢迎您！您还有 <%= allTaskNumber %> 项任务需要完成 <br>
        <% var allCompletedTaskNumber = 0; %>
        <% user_task.types.forEach(function(type){ %>
        <% type.tasks.forEach(function(task){ %>
        <% if (task.complete === true) { %>
        <% allCompletedTaskNumber++; %>
        <% } %>
        <% }); %>
        <% }); %>
        您已经累计完成 <%= allCompletedTaskNumber %> 项任务
    </div>
</div>
<div class="taskContentView dn fl">
    <button class="closeView">关闭详情</button>
    <div class="typeName">工作</div>
    <div class="taskName">做完前端</div>
    <button class="edit">编辑</button>
    <div class="view-content db">
        sqwqeqfqefqe
    </div>
    <div class="edit-content dn">
        <textarea name="" id="" cols="30" rows="10">
            2
        </textarea>
        <button class="save">保存</button>
        <button class="cancle">取消</button>
    </div>
</div>
</div>
<footer>
    <div class="footer-friendship-links">
        <span class="title">友情链接：</span>
        <a href="#">todoist</a>
        <a href="#">印象笔记</a>
        <a href="#">知乎</a>
        <a href="#">豆瓣</a>
        <a href="#">阿里云</a>
    </div>
    <div class="footer-copyRight">
        <span class="tms">© 2016 TMS</span>  
        <a href="#">关于我们</a> -  
        <a href="#">联系我们</a> -  
        <a href="#">加入我们</a> -  
        <a href="#">商业合作</a> -  
        <a href="#">投诉建议</a> -  
        <a href="#">免责声明</a>
        <!-- 关于我们 - 广告合作 - 联系我们 - 免责声明 - 网站地图 - 投诉建议 - 在线投稿 -->
    </div>
</footer>
<script>
    $(function() {
        //此页函数库
        function refreshPage() {
            window.location.href = "/index.html";
        }

        function sendActionToDb(obj) {
            // obj 是这样:
            // {
            //     action: "modifyTypeName",
            //     taskContent: "newName11",
            //     typeName: "工作",
            //     taskName: "完成前端"
            // }
            var result;
            $.ajax({
                url: '/indexDeal/sendActionToDb',
                type: "post",
                data: obj,
                success: function(res) {
                    if (res) {
                        result = res;
                        if (res === "OK") {
                            console.log("sendActionToDb成功！");
                            // 若是主页的添加任务，则添加完之后直接刷新页面
                            if (obj.action === "addTask") {
                                refreshPage();
                            }
                        } else if (res === "existedTaskName") {
                            // 若是主页的添加任务
                            if (obj.action === "addTask") {
                                alert("已存在的用户名！");
                            }
                        }
                    } else {
                        alert("ajax失败！");
                    }
                }
            });
            return result;
        }

        // taskContentView的代码
        // 编辑按钮
        $(".taskContentView .edit").click(function(event) {
            /* Act on the event */
            $(this).parents(".taskContentView").find('.view-content').removeClass('db').addClass('dn');
            $(this).parents(".taskContentView").find('.edit-content').removeClass('dn').addClass('db');

            var words = $(this).parents(".taskContentView").find('.view-content').text();
            $(this).parents(".taskContentView").find('.edit-content textarea').val(words);
        });
        //取消按钮
        $(".taskContentView .edit-content .cancle").click(function(event) {
            /* Act on the event */
            $(this).parents(".taskContentView").find('.edit-content').removeClass('db').addClass('dn');
            $(this).parents(".taskContentView").find('.view-content').removeClass('dn').addClass('db');
        });

        // 点击编辑任务内容的保存按钮
        $(".taskContentView .edit-content .save").click(function(event) {
            // 渲染前端
            var words = $(this).siblings("textarea").val();
            $(this).parents(".taskContentView").find('.view-content').text(words);
            $(this).parents(".taskContentView").find('.edit-content').removeClass('db').addClass('dn');
            $(this).parents(".taskContentView").find('.view-content').removeClass('dn').addClass('db');
            // 获取任务类型
            var typeName = $(this).parents(".taskContentView").find('.typeName').text();
            var taskName = $(this).parents(".taskContentView").find('.taskName').text();
            var taskContent = words;
            // 将新的内容发送到后端
            var obj = {
                action: "modifyTaskContent",
                taskContent: taskContent,
                typeName: typeName,
                taskName: taskName
            };

            sendActionToDb(obj);
        });

        //注销按钮
        $(".logoutBtn").click(function(event) {
            $.ajax({
                url: '/userLogout.html',
                type: 'post',
                success: function(data) {
                    if (data) {
                        if (data === "logoutSuccess") {
                            alert("注销成功！跳转到游客首页！");
                            window.location.href = "/login.html";
                        }
                    } else {
                        alert("404  未返回数据");
                    }
                }
            });
        });

        // 删除任务类型
        $(".taskType-item .delete").click(function(event) {
            var t = confirm("删除此任务类型后，此类型中的所有任务将被清空且不能恢复,确定吗？")

            if (t === false) {
                return;
            }
            var index = $(this).parent().index();
            var typeName = $(this).siblings('.name').text();
            var obj = {
                action: "deleteType",
                typeName: typeName
            };

            // 发到后端
            sendActionToDb(obj);
            // 改前端
            $(".task-panel").eq(index).remove();
            $(this).parent().remove();
        });

        // 点击修改，则出现修改框
        $(".taskType-item .edit").click(function(event) {
            /* Act on the event */
            $(this).siblings('.modifyBlock').removeClass('dn');
        });
        // 点击修改旁边的取消，则隐藏
        $(".taskType-item .modifyBlock .cancle").click(function(event) {
            /* Act on the event */
            $(this).parent().addClass('dn');
        });
                // 点击修改旁边的取消，则隐藏
                $(".taskType-item .modifyBlock .save").click(function(event) {
                    /* Act on the event */
                    var typeName = $(this).parent().siblings('.name').text();
                    var newTypeName = $(this).siblings('.editText').val();
                    var obj = {
                        action: "modifyTypeName",
                        typeName: typeName,
                        newTypeName: newTypeName
                    };
                                // 发到后端
                                sendActionToDb(obj);
                                // 改前端
                    // $(this).parent().addClass('dn');
                });
                $(".task-panel .edit").click(function(event) {
                    /* Act on the event */
                    $(this).siblings('.modifyBlock').removeClass('dn');
                });
        // 面板上修改部分的函数
        //点击取消，则隐藏修改框
        $(".task-panel .modifyBlock .cancle").click(function(event) {
            /* Act on the event */
            $(this).parent().addClass('dn');
        });
        // 点击保存
        $(".task-panel .modifyBlock .save").click(function(event) {
            var taskName = $(this).parents("li").find('.taskName').text();
            var words = $(this).siblings('.editText').val();

            $(this).parents("li").find('.taskName').text(words);
            $(this).parent().addClass('dn');
            // 发送到后端
            var typeName = $(this).parents(".task-panel").find('.typeName').text();
            var obj = {
                action: "modifyTaskName",
                typeName: typeName,
                taskName: taskName,
                newTaskName: words
            };

            sendActionToDb(obj);
        });
        // 面板上增加任务部分的函数
        $(".task-panel .addBlock button.add").click(function(event) {
            /* Act on the event */
            $(this).siblings('.addBlock-inner').removeClass('dn');
        });
        $(".task-panel .addBlock .addBlock-inner .cancle").click(function(event) {
            /* Act on the event */
            $(this).parent().addClass('dn');
        });
        // 确认
        $(".task-panel .addBlock .addBlock-inner .confirm").click(function(event) {
            var taskName = $(this).siblings('input').val();
            var typeName = $(this).parents(".task-panel").find('.typeName').text();
            var obj = {
                action: "addTask",
                typeName: typeName,
                taskName: taskName,
            };
            console.log(obj)
                // 先入库，然后刷新页面（因为绑定的事件太多了。太麻烦。直接刷新好了）
                console.log("q1")
                sendActionToDb(obj);
                console.log("q2")
            });
        // 点击完成
        $(".task-panel li .finish").click(function(event) {
            var taskName = $(this).parents("li").find('.taskName').text();
            var typeName = $(this).parents(".task-panel").find('.typeName').text();
            var obj = {
                action: "completeTask",
                typeName: typeName,
                taskName: taskName,
            };

            sendActionToDb(obj);
            // 修改完成的数目
            var completeCount = parseInt($(this).parents("ul").siblings('.completedTasks').find(".count").text());
            completeCount++;
            $(this).parents("ul").siblings('.completedTasks').find(".count").text(completeCount + "");
            // 增加元素到completedTasks
            var newCompletedTask = $('<li><span class="name">' + taskName + '</span></li>');
            newCompletedTask.appendTo($(this).parents("ul").siblings('.completedTasks').find('.items'));
            $(this).parent().remove();
        });
        // 点击关闭详情
        $(".taskContentView .closeView").click(function(event) {
            /* Act on the event */
            $(".taskContentView").addClass('dn');
            $(".welcomeWords").removeClass('dn');
        });
        // 点击显示任务面板 
        $(".taskType-item .name").click(function(event) {
            var index = $(this).parent().index();
            // 关闭详情
            $(".taskContentView").addClass('dn');
            $(".task-panel").eq(index).siblings().removeClass('on');
            $(".task-panel").eq(index).toggleClass('on');
        });

        //点击查看已完成的任务
        $(".completedTasks .see").click(function(event) {
            /* Act on the event */
            $(this).siblings('.items').toggleClass('on');
        });
        // 点击 查看详情 显示详情
        $(".task-panel .seeContent").click(function(event) {
            var type_name = $(this).parents(".task-panel").find('.title .typeName').text();
            var task_name = $(this).siblings('.taskName').text();
            var getWords = "";

            // 渲染类型名字和任务名字
            $(".taskContentView .typeName").text(type_name);
            $(".taskContentView .taskName").text(task_name);
            // ajax获取任务详情到显示的div
            $.ajax({
                url: '/indexDeal/getTaskContentFromDb',
                type: "post",
                data: {
                    type_name: type_name,
                    task_name: task_name
                },
                success: function(data) {
                    if (data) {
                        getWords = data;
                        $(".taskContentView .view-content").text(getWords);
                        $(".welcomeWords").addClass('dn');
                        $(".taskContentView").removeClass('dn');
                    } else {
                        alert("ajax失败！");
                    }
                }
            });
        });
        // 点击清空已完成
        $(".completedTasks .delete").click(function(event) {
            /* Act on the event */
            var r = window.confirm("此操作会删除已完成的数据，并且不可恢复，确定吗？");

            if (r === false) {
                return;
            }
            var typeName = $(this).parents(".task-panel").find('.title .typeName').text();
            var obj = {
                action: "emptyFinishedTask",
                typeName: typeName
            };
            // 发到后端
            sendActionToDb(obj);
            $(this).siblings('.items').find('li').remove();
            $(this).parents(".completedTasks").find('.count').text("0");
        });
        //任务类型部分的代码
        // 增加任务类型
        $(".taskTypes .addType .addBtn").click(function(event) {
            /* Act on the event */
            var typeName = $(this).siblings('.typeText').val();
            var obj = {
                action: "addType",
                typeName: typeName
            };

            // 发到后端
            sendActionToDb(obj);
            // 由于任务面板变动，以及绑定事件，直接刷新
            refreshPage();
        });
    })
</script>

</body>

</html> 