<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册页面</title>
	<link rel="stylesheet" href="/static/css/style.css">
	<script src="http://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
	<h2>请您注册一个新的账户：</h2>
	<form>
		账户名： <input type="text" name="username"><br><br>
		密码: <input type="password" name="password"><br><br>
		再次输入密码: <input type="password" name="password"><br><br>
		<button type="button" id="submit">注册</button><br><br>
	</form>
	已有账户？直接<a href="/views/login.html">登录</a>
	<script>
		$("#submit").click(function(event) {
			var userName = $("input[name=username]").val();
			var userPassword = $("input[name=password]:eq(0)").val();
			var reUserPassword = $("input[name=password]:eq(1)").val();
			if ($.trim(userName) == "") {
				alert("用户名不能为空！");
				return;
			} else if (userPassword !== reUserPassword) {
				alert("两次输入的密码不一致！");
				return;
			}
			/* Act on the event */
			console.log("点了我")
			$.ajax({
				url: '/register.html',
				type: 'POST',
				// 预期服务器会返回纯文本
				dataType: 'text',
				data: {uname: userName, upassword: userPassword},
				success: function (msg) {
					// msg是服务器返回的数据
					console.log(msg);
					if (msg === "success") {
						alert("注册成功！马上跳转到登录页面！");
						window.location.href = "/login.html";
						return; 
					} else if (msg === "isExistedUserName"){ 
						alert("用户名已存在！请重新注册个账号！"); 
						$("input[name=username]").val("");
						$("input[name=password]:eq(0)").val("");
						$("input[name=password]:eq(1)").val("");
						// isExistedUserName
						return;
					}
				}
			})
		});
	</script>
</body>
</html>