<section class="main-menu">
	<div class="main-menu-singleMenu">
		<div class="menu-head lineHeight25">
			<span class="iconfont-wrapper">
				<i class="iconfont icon-xiangyou"></i>
			</span>
			用户账户	
		</div>
		<ul class="menu-content main-menu-users lineHeight25">
			<a href="/admin/userAccount.html">
				<li > 查看用户账户</li>
			</a>
			<a href="/admin/addAUser.html">
				<li class="addAUserButton">增加用户账户</li>
			</a>
		</ul>
	</div>
	<div class="main-menu-singleMenu">
		<div class="menu-head lineHeight25">
			<span class="iconfont-wrapper">
				<i class="iconfont icon-xiangyou"></i>
			</span>
			管理员账户
		</div>
		<ul class="menu-content main-menu-users lineHeight25">
			<a href="/admin/adminAccount.html">
				<li >查看管理员账户</li>
			</a>
			<a href="/admin/addAdmin.html">
				<li >增加管理员账户</li>
			</a>

		</ul>
	</div>
	<div class="main-menu-singleMenu">
		<div class="menu-head lineHeight25">
			<span class="iconfont-wrapper">
				<i class="iconfont icon-xiangyou"></i>
			</span>
			任务圈
		</div>
		<ul class="menu-content main-menu-users lineHeight25">
			<a href="/admin/taskCircleState.html">
				<li>发表的状态</li>
			</a>
		</ul>
	</div>
	<div class="main-menu-singleMenu">
		<div class="menu-head lineHeight25">
			<span class="iconfont-wrapper">
				<i class="iconfont icon-xiangyou"></i>
			</span>
			用户反馈
		</div>
		<ul class="menu-content main-menu-users lineHeight25">
			<a href="/admin/userAdvice.html">
				<li>投诉建议</li>
			</a>
		</ul>
	</div>
</section>