body{
	height: 100%;
	background: #fafafa;
	// overflow: hidden;
	margin: 0; 
	font-family: Helvetica, Tahoma, Arial, STXihei, " 华文细黑","Microsoft YaHei", " 微软雅黑", SimSun, " 宋体", Heiti, " 黑体", sans-serif
}
footer {
	height: 2100px;
}
*, *:before, *:after{
	box-sizing: border-box;
}
ul {
	padding: 0; 
	margin: 0;
}
a {
	text-decoration: none;
	color: black;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.iconfont.icon-icon-tasktodoist{
	color: white;
}
// header部分
header.top-header {
	background: #1DA951;
	height: 45px;
	// border-bottom: 1px solid #0053C5;
	.icon-icon-tasktodoist {
		font-size: 30px;
		line-height: 45px;
	}
	nav {
		width: 1000px;
		margin: 0 auto;
		.left, .right {
			width: 50%;
			height: 45px;
		}
		.left {
			float: left;
			width: 50%;
		}
		.right {
			float: right;
			text-align: right;
			width: 50%;
			a {
				line-height: 45px;
				margin: 0 0 0 30px;
				color: white;
				&:hover {
					color: #2CBD62;
				}
			}
		}
		span.description {
			line-height: 100%;
			font-size: 17px;
			margin-left: 30px;
			color: white;
			font-family: serif;
			span.name {
				color: white;
				font-family: cursive;
			}
		}
	}
}

// 主体部分
main {
	background: #fafafa;
	width: 1000px;
	margin: 0 auto;
	height: 550px;
	overflow: hidden;
	&>section {
		// height: 600px;
	}
	section.left {
		height: 550px;
		width: 330px;
		float: left;
		overflow: auto;
		.header.tips {
			height: 30px;
			line-height: 30px;
			text-align: center;
			color: #000000;
		}
		.classification {
			height: 40px;
			line-height: 40px;
			&:hover {
				background: #F3F3F3;
			}
		}
		.tasks.accordingto-types {
			.tasks-group {
				.single-task {
					.icon-shanchu {
						position: absolute;
						right: 30px;
						display: none;
					}
					&.hover {
						.icon-shanchu {
							display: inline;
						}
					}
				}
			}
			.single-task {
				position: relative;
				height: 30px;
				line-height: 30px;
				&:hover {
					background: #F5F5F5;
					border: 1px solid #D6D6D6;
					cursor: pointer;
					border-radius: 2px;
				}
				&.clicked {
					background: #F5F5F5;
					border: 1px solid #D6D6D6;
					cursor: pointer;
					border-radius: 2px;
				}
				&.enter-task {
					display: none;
					line-height: 30px;
					border-radius: 3px;
					border: 2px solid #4DCA7C;
					input[type="text"] {
						border: 1px solid #F3F3F3;
						outline: none;
						border-radius: 4px;
						height: 23px;
						padding: 0;
						float: left;
						width: 180px;
						margin: 1.6px 20px 1.6px 3px;
					}
				}
				button {
					/* padding: 4px; */
					float: left;
					/* line-height: 22px; */
					height: 24px;
					border: 1px solid #C1C1C1;
					padding: 3px;
					margin: 1px 0px 1px 20px;
					background: #73C792;
				}
			}
		}
	}
		//图标颜色
		.icon-gongzuonan {
			color: green;
		}
		.icon-xuexi {
			color: #009ADC;
		}
		i.iconfont.icon-yule {
			color: #FF4D00;
		}
		i.iconfont.icon-jiaotongiconplane {
			color: #A2008A;
		}
	}

	section.right {
		overflow: auto;	
		width: 670px;
		height: 700px;
		background: white;
		float: left;
		position: relative;
		.task-items {
			position: absolute;
			left: -200px;
			top: 0;
			height: 270px;
			width: 200px;
			background: #1FBC5A;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
			header.task-type {
				height: 30px;
				line-height: 30px;
				font-size: 20px;
				text-align: center;
				font-weight: 900;
			}
			li {
				height: 22px;
				list-style-type: none;
				line-height: 22px;
				cursor: pointer;
				&:hover {
					background: #F5F5F5;
					border: 1px solid #D6D6D6;
					cursor: pointer;
					border-radius: 2px;
				}
				&.enter {
					display: none;
					text-align: center;
					overflow: hidden;
					border: none;
					height: 50px;
					background: #1FBC5A;
					input {
						outline: none;
						border-radius: 2px;
						border: none;
						height: 23px;
						font-size: 16px;
						line-height: 23px;
						padding: 0;
					}
				}
			}
		}
		.detailed {
			overflow: hidden;
			header {
				font-size: 14px;
				height: 37px;
				line-height: 35px;
				text-align: left;
				border-bottom: 1px solid #1da951;
				// margin: 0px auto 20px;
				padding: 0 0 0px 40px;
				.task-group-name {
					color: blue;
				}
				.task-name {
					color: red;
				}
			}
			.settings {
				height: 30px;
				font-size: 12px;
				line-height: 30px;
				text-align: right;
				padding-right: 20px;
				span {
					border: 1px solid #1da951;
					padding: 1px;
					background: #EAF1FF;
					color: black;
					cursor: pointer;
					margin-right: 10px;
					border-radius: 3px;
				}
			}
			.write-wrapper {
				overflow-y: auto;
				height: 400px;
			}
			.write {
				padding: 1em;
				min-height: 400px;
				background: rgb(243, 243, 243);
				outline: none;
			}
		}
	}
	footer {
		text-align: center;
		height: 120px;
		background: #1da951;
		.footer-friendship-links {
			padding-top: 20px;
			font-size: 14px;
			height: 60px;
			line-height: 40px;
			.title {
				margin-right: 20px;
				color: black;
				font-weight: bold;
			}
			a {
				margin-right: 20px;
				color: white;
			}
		}
		.footer-about-us {
			height:60px;
			line-height:60px;
			a {
				margin-right: 20px;
			}
		}
		.footer-copyRight {
			font-size: 14px;
			padding-bottom: 20px;
			height: 60px;
			line-height: 40px;
		}
	}

