<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户管理</title>
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_1453964335_3456287.css">
	<link rel="stylesheet" href="admin.css">
	<script src="http://lib.sinaapp.com/js/jquery/1.8.3/jquery.js">
	</script>
</head>
<body>
	<header class="topbar">
		<div class="content">
			<span class="content-title">
				TMS 后台管理系统
			</span>
			<span class="content-logout">
				<span class="content-admin-name">
					giovanni
				</span>
				<a href="#">退出</a>
			</span>
		</div>
	</header>
	<div class="main">
		<section class="main-menu">
<!-- 			<header class="main-menu-title lineHeight25 fontCenter ">
				菜单
			</header> -->
			<div class="main-menu-singleMenu">
				<div class="menu-head lineHeight25">
					<span class="iconfont-wrapper">
						<i class="iconfont icon-xiangyou"></i>
					</span>
					用户账户管理
				</div>
				<ul class="menu-content main-menu-users lineHeight25">
					<li class="on">用户账户信息</li>
					<!-- <a href="#addAUser"> -->
					<li class="addAUserButton">增加用户账户</li>
					<!-- </a> -->
				</ul>
			</div>
			<div class="main-menu-singleMenu">
				<div class="menu-head lineHeight25">
					<span class="iconfont-wrapper">
						<i class="iconfont icon-xiangyou"></i>
					</span>
					任务圈
				</div>
				<ul class="menu-content main-menu-users lineHeight25">
					<li>发表的状态</li>
					<li>评论</li>
				</ul>
			</div>
			<div class="main-menu-singleMenu">
				<div class="menu-head lineHeight25">
					<span class="iconfont-wrapper">
						<i class="iconfont icon-xiangyou"></i>
					</span>
					留言板
				</div>
				<ul class="menu-content main-menu-users lineHeight25">
					<li>用户留言</li>
					<li>日期</li>
				</ul>
			</div>
		</section>
		<section class="main-content-wrapper">
			<div class="main-content">
				<div class="main-content-userInfo">
					<div class="main-content-head fontCenter lineHeight30">
						用户账户信息
					</div>
					<table border="1">
						<thead>
							<tr>
								<th>序号</th>
								<th>账户名</th>
								<th>密码</th>
								<th>昵称</th>
								<th>session_id</th>
								<th>删除账号</th>	
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>giovanni</td>
								<td>123456</td>
								<td>9527</td>
								<td>312131gdugqw127735162719831213678137615</td>
								<td><button class="delete">删除</button></td>	
							</tr>
							<tr>
								<td>1</td>
								<td>giovanni</td>
								<td>123456</td>
								<td>9527</td>
								<td>312131gdugqw127735162719831213678137615</td>
								<td><button class="delete">删除</button></td>	
							</tr>
							<tr>
								<td>1</td>
								<td>giovanni</td>
								<td>123456</td>
								<td>9527</td>
								<td>312131gdugqw127735162719831213678137615</td>
								<td><button class="delete">删除</button></td>	
							</tr>
							<tr>
								<td>1</td>
								<td>giovanni</td>
								<td>123456</td>
								<td>9527</td>
								<td>312131gdugqw127735162719831213678137615</td>
								<td><button class="delete">删除</button></td>	
							</tr>
							<tr>
								<td>1</td>
								<td>giovanni</td>
								<td>123456</td>
								<td>9527</td>
								<td>312131gdugqw127735162719831213678137615</td>
								<td><button class="delete">删除</button></td>	
							</tr>
							<tr>
								<td>1</td>
								<td>giovanni</td>
								<td>123456</td>
								<td>9527</td>
								<td>312131gdugqw127735162719831213678137615</td>
								<td><button class="delete">删除</button></td>	
							</tr>
							<tr>
								<td>1</td>
								<td>giovanni</td>
								<td>123456</td>
								<td>9527</td>
								<td>312131gdugqw127735162719831213678137615</td>
								<td><button class="delete">删除</button></td>	
							</tr>
							<tr>
								<td>1</td>
								<td>giovanni</td>
								<td>123456</td>
								<td>9527</td>
								<td>312131gdugqw127735162719831213678137615</td>
								<td><button class="delete">删除</button></td>	
							</tr>
							<tr>
								<td>1</td>
								<td>giovanni</td>
								<td>123456</td>
								<td>9527</td>
								<td>312131gdugqw127735162719831213678137615</td>
								<td><button class="delete">删除</button></td>	
							</tr>
							<tr>
								<td>1</td>
								<td>giovanni</td>
								<td>123456</td>
								<td>9527</td>
								<td>312131gdugqw127735162719831213678137615</td>
								<td><button class="delete">删除</button></td>	
							</tr>
						</tbody>
					</table>
					<div class="pages fontCenter ">
						<span class="pages-pageNumber on">1</span>
						<span class="pages-pageNumber">2</span>
						<span class="pages-pageNumber">3</span>
						<span class="pages-pageNumber">4</span>
						<span>下一页</span>

					</div>
					<div class="main-userInfo-addAUser fontCenter" name="addAUser">
						增加一个账户
						<span>
							账户名
						</span>
						<input type="text">
						<span>密码：</span>
						<input type="text">
						<button>确认</button>
						<button>取消</button>
					</div>
					<div class="zhanwei">
						
					</div>	
				</div>
			</div>

		</section>
	</div>
	<!-- 左侧菜单的点击变换三角形和slideDown效果 -->
	<script>
		$(function(){
			var $menuListHeads = $(".main-menu-singleMenu .menu-head");
			var $menuListContents = $(".main-menu-singleMenu li");

			$menuListContents.click(function(event) {
				/* Act on the event */
				$menuListContents.removeClass('on');
				$(this).addClass('on');
			});
			$menuListHeads.click(function(event) {
				// 若没有显示
				if (!$(this).hasClass('active')) {
					$(this).siblings().slideDown(function(){
						$(this).siblings(".menu-head").addClass('active')
						.find('.iconfont').removeClass('icon-xiangyou').addClass('icon-xiangxia');
					});
				} else {
					// 若已经显示内容
					$(this).siblings().slideUp(function(){
						$(this).siblings('.menu-head').removeClass('active')
						.find('.iconfont').removeClass('icon-xiangxia').addClass('icon-xiangyou');
					});
				}
			});
		})
	</script>
	<!-- 点击左侧增加用户账户，则右侧显示增加的div -->
	<script>
		$(function(){
			var $addAUserButton = $(".main-menu-singleMenu .addAUserButton");
			var $addAUserContent = $(".main-userInfo-addAUser");

			$addAUserButton.click(function(event) {
				/* Act on the event */
				$addAUserContent.show();
				//滚动到添加账户的位置
				$(".main-content-wrapper").scrollTop(350)
			});
		})

	</script>
</body>
</html>