/*此文件是：在做新项目的时候，写全新html和css用到的共用css,无须写命名空间。*/
/*reset*/
html, body, div, h2, h3, h4, p, td, tr, ul, ol, li, table, dl, dd, dt, img, form { margin: 0; padding: 0;}
body, button, input, select, textarea { font-size: 12px;
  /*font-family: tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;*/
  font-family: arial, "Hiragino Sans GB";}
  h1, h2, h3, h4, h5, h6 { font-size: 100%;}
  ol, ul { list-style: none;}
  table { border-collapse: collapse; border-spacing: 0;}
  fieldset, img { border: 0;}
  a { text-decoration: none; color: black;}
  textarea, button, input {
    outline: none;
  }
  .clear { *zoom: 1;}
  .clear:before, .clear:after { display: table; content: "";}
  .clear:after { clear: both;}
  /*自定义*/
  .cw { color: white;}
  .cb { color: black;}
  .dn { display: none;}
  .db { display: block;}
  .dib { display: inline-block;}
  .cp { cursor: pointer;}
  .fl { float: left;}
  .fr { float: right;}
  .fwb { font-weight: bold;}
  .fwn { font-weight: normal;}
  .m0a { margin: 0 auto;}
  .tac { text-align: center;}
  .tal { text-align: left;}
  .tar { text-align: right;}
  .fs12 { font-size: 12px;}
  .fs13 { font-size: 13px;}
  .fs14 { font-size: 14px;}
  .fs15 { font-size: 15px;}
  .fs16 { font-size: 16px;}
  .fs17 { font-size: 17px;}
  .fs18 { font-size: 18px;}
  .fs19 { font-size: 19px;}
  .fs20 { font-size: 20px;}
  .fs21 { font-size: 21px;}
  .fs22 { font-size: 22px;}
  .fs23 { font-size: 23px;}
  .fs24 { font-size: 24px;}
  .fs25 { font-size: 25px;}
  .fs26 { font-size: 26px;}
  .fs27 { font-size: 27px;}
  .fs28 { font-size: 28px;}
  .fs29 { font-size: 29px;}
  .fs30 { font-size: 30px;}
  body {
    height: 100%;
    min-width: 1100px;
    background: #fafafa;
    color: #303333;
    font-size: 14px;
    margin: 0;
    font-family: Helvetica, Tahoma, Arial, STXihei, " 华文细黑", "Microsoft YaHei", " 微软雅黑", SimSun, " 宋体", Heiti, " 黑体", sans-serif;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #303333;
  }
  .clearfix:after {
    content: "";
    display: block;
    clear: both;
  }
  .iconfont.icon-icon-tasktodoist {
    color: white;
  }
  header.top-header {
    background: #1DA951;
    height: 45px;
  }
  header.top-header .icon-icon-tasktodoist {
    font-size: 30px;
    line-height: 45px;
  }
  header.top-header nav {
    width: 1000px;
    margin: 0 auto;
    position: relative;
  }
  header.top-header nav .left,
  header.top-header nav .right {
    width: 50%;
    height: 45px;
  }
  header.top-header nav .left {
    float: left;
    width: 50%;
  }
  header.top-header nav .left > a {
    display: inline-block;
    overflow: hidden;
  }
  header.top-header nav .right {
    float: right;
    text-align: right;
    width: 50%;
  }
  header.top-header nav .right a {
    line-height: 45px;
    margin: 0 0 0 30px;
    color: white;
  }
  header.top-header nav .right a.active {
    color: #FFFFFF;
    text-shadow: white 1px 1px 3px;
  }
  header.top-header nav .right a:hover {
    color: #FFFFFF;
    text-shadow: white 1px 1px 3px;
  }
  header.top-header nav span.description {
    display: inline-block;
    overflow: hidden;
    line-height: 45px;
    height: 45px;
    font-size: 17px;
    margin-left: 10px;
    color: white;
    font-family: serif;
  }
  header.top-header nav span.description span.name {
    color: white;
    font-family: cursive;
  }
  main {
    background: #fafafa;
    width: 1000px;
    margin: 0 auto;
    height: 550px;
    overflow: hidden;
  }
  main section.left {
    height: 550px;
    width: 330px;
    float: left;
    overflow: auto;
  }
  main section.left .header.tips {
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #000000;
  }
  main section.left .classification {
    height: 40px;
    line-height: 40px;
  }
  main section.left .classification:hover {
    background: #F3F3F3;
  }
  main section.left .tasks.accordingto-types .tasks-group .single-task .icon-shanchu {
    position: absolute;
    right: 30px;
    display: none;
  }
  main section.left .tasks.accordingto-types .tasks-group .single-task.hover .icon-shanchu {
    display: inline;
  }
  main section.left .tasks.accordingto-types .single-task {
    position: relative;
    height: 30px;
    line-height: 30px;
  }
  main section.left .tasks.accordingto-types .single-task:hover {
    background: #F5F5F5;
    border: 1px solid #D6D6D6;
    cursor: pointer;
    border-radius: 2px;
  }
  main section.left .tasks.accordingto-types .single-task.clicked {
    background: #F5F5F5;
    border: 1px solid #D6D6D6;
    cursor: pointer;
    border-radius: 2px;
  }
  main section.left .tasks.accordingto-types .single-task.enter-task {
    display: none;
    line-height: 30px;
    border-radius: 3px;
    border: 2px solid #4DCA7C;
  }
  main section.left .tasks.accordingto-types .single-task.enter-task input[type="text"] {
    border: 1px solid #F3F3F3;
    outline: none;
    border-radius: 4px;
    height: 23px;
    padding: 0;
    float: left;
    width: 180px;
    margin: 1.6px 20px 1.6px 3px;
  }
  main section.left .tasks.accordingto-types .single-task button {
    /* padding: 4px; */
    float: left;
    /* line-height: 22px; */
    height: 24px;
    border: 1px solid #C1C1C1;
    padding: 3px;
    margin: 1px 0px 1px 20px;
    background: #73C792;
  }
  main .icon-gongzuonan {
    color: green;
  }
  main .icon-xuexi {
    color: #009ADC;
  }
  main i.iconfont.icon-yule {
    color: #FF4D00;
  }
  main i.iconfont.icon-jiaotongiconplane {
    color: #A2008A;
  }
  section.right {
    overflow: auto;
    width: 670px;
    height: 700px;
    background: white;
    float: left;
    position: relative;
  }
  section.right .task-items {
    position: absolute;
    left: -200px;
    top: 0;
    height: 270px;
    width: 200px;
    background: #1FBC5A;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  section.right .task-items header.task-type {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
  }
  section.right .task-items li {
    height: 22px;
    list-style-type: none;
    line-height: 22px;
    cursor: pointer;
  }
  section.right .task-items li:hover {
    background: #F5F5F5;
    border: 1px solid #D6D6D6;
    cursor: pointer;
    border-radius: 2px;
  }
  section.right .task-items li.enter {
    display: none;
    text-align: center;
    overflow: hidden;
    border: none;
    height: 50px;
    background: #1FBC5A;
  }
  section.right .task-items li.enter input {
    outline: none;
    border-radius: 2px;
    border: none;
    height: 23px;
    font-size: 16px;
    line-height: 23px;
    padding: 0;
  }
  section.right .detailed {
    overflow: hidden;
  }
  section.right .detailed header {
    font-size: 14px;
    height: 37px;
    line-height: 35px;
    text-align: left;
    border-bottom: 1px solid #1da951;
    padding: 0 0 0px 40px;
  }
  section.right .detailed header .task-group-name {
    color: blue;
  }
  section.right .detailed header .task-name {
    color: red;
  }
  section.right .detailed .settings {
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    text-align: right;
    padding-right: 20px;
  }
  section.right .detailed .settings span {
    border: 1px solid #1da951;
    padding: 1px;
    background: #EAF1FF;
    color: black;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 3px;
  }
  section.right .detailed .write-wrapper {
    overflow-y: auto;
    height: 400px;
  }
  section.right .detailed .write {
    padding: 1em;
    min-height: 400px;
    background: #f3f3f3;
    outline: none;
  }
  footer {
    text-align: center;
    height: 120px;
    background: #1da951;
  }
  footer .footer-friendship-links {
    padding-top: 20px;
    font-size: 14px;
    height: 60px;
    line-height: 40px;
  }
  footer .footer-friendship-links .title {
    margin-right: 20px;
    color: black;
    font-weight: bold;
  }
  footer .footer-friendship-links a {
    margin-right: 20px;
    color: white;
  }
  footer .footer-about-us {
    height: 60px;
    line-height: 60px;
  }
  footer .footer-about-us a {
    margin-right: 20px;
  }
  footer .footer-copyRight {
    font-size: 14px;
    padding-bottom: 20px;
    height: 60px;
    line-height: 40px;
  }
  .task-circle-main {
    background: white;
    width: 1000px;
    margin: 0 auto;
  }
  .task-circle-main .header-description {
    height: 50px;
    /* font-weight: bold; */
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #9A9A9A;
    /* margin-bottom: 30px; */
  }
  .task-circle-main-annouce .single-annouce {
    border-bottom: 1px solid #E0E0E0;
    /* border-radius: 6px; */
    width: 80%;
    padding: 20px 0 20px 270px;
    margin: 0 auto;
  }
  .task-circle-main-annouce .single-annouce .timing,
  .task-circle-main-annouce .single-annouce .prompt,
  .task-circle-main-annouce .single-annouce .go-see {
    height: 30px;
    line-height: 30px;
  }
  .task-circle-main-annouce .single-annouce .comments {
    cursor: pointer;
    position: relative;
  }
  .task-circle-main-annouce .single-annouce .timing {
    font-size: 13px;
    color: #6F6F6F;
  }
  .task-circle-main-annouce .single-annouce .prompt .username {
    font-weight: bold;
  }
  .task-circle-main-annouce .single-annouce .prompt .task-action {
    margin: 0 20px;
  }
  .task-circle-main-annouce .single-annouce .prompt .task-name {
    font-weight: bold;
    color: #00921C;
  }
  .task-circle-main-annouce .single-annouce .go-see a {
    color: blue;
  }
  .task-circle-main-annouce .single-annouce .title {
    color: red;
  }
  .annouce-comments-content {
    list-style-type: none;
    color: black;
  }
  .annouce-comments-content .single-comments-content {
    line-height: 30px;
  }
  .annouce-comments-content .single-comments-content.open-edit {
    cursor: pointer;
    width: 70px;
    font-weight: 900;
  }
  .annouce-comments-content .single-comments-content.open-edit:hover {
    text-decoration: underline;
  }
  .annouce-comments-content .single-comments-content.writing {
    display: none;
  }
  .annouce-comments-content .single-comments-content .user-name {
    color: blue;
    cursor: pointer;
  }
  /*用户首页代码*/
  .top-header .logoutBtn {
    line-height: 45px;
    margin: 0 0 0 30px;
    color: white;
    cursor: pointer;
  }
  .top-header .logoutBtn:hover {
    text-shadow: white 1px 1px 3px;
  }
  .main {
    position: relative;
    height: 500px;
  }
  /*任务块*/
  .main .task-wrapper {
    z-index: 2;
    display: none;
    position: absolute;
    left: 230px;
    border: 1px solid #FDFDFD;
    height: 300px;
    width: 230px;
    background: #1DA951;
    border-radius: 5px;
    overflow: auto;
  }
  .main .task-wrapper.on {
    display: block;
  }
  .main .task-wrapper button {
    padding: 1px 9px 1px 9px;
    border-radius: 6px;
    background: white;
    border: 1px solid #1DA951;
  }
  .main .task-wrapper .task-panel .title {
    line-height: 29px;
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight: 900;
    border-bottom: 2px solid #00792D;
  }
  /*任务详情块*/
  .main .taskContentView {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 230px;
    text-align: center;
    font-size: 19px;
  }
  .main .taskContentView button {
    background: #1DA951;
    border: none;
    padding: 2px 11px;
    border-radius: 2px;
    color: white;
    line-height: 18px;
  }
  .main .taskContentView .closeView {
    float: left;
  }
  .main .taskContentView .typeNameTitle {  
   margin-top: 26px;
   padding-left: 20px;
   text-align: left;
   border-top: 1px solid #717171;
 }
 .main .taskContentView .typeName {  
  padding-left: 20px;
  text-align: left;
  border-top: 1px solid #717171;
}
.main .taskContentView .taskNameTitle {  
 padding-left: 20px;
 text-align: left;
 border-top: 1px solid #717171;
}
.main .taskContentView .taskName {  
  padding-left: 20px;
  text-align: left;
  border-top: 1px solid #717171;
  border-bottom: 1px solid #717171;
}
.main .taskContentView  .edit {
  float: left;
}
.main .taskContentView  .view-content {
  clear: both;
  min-height: 100px;
  background:  #E0E0E0 ;
}
.main .taskContentView  .edit-content {
  clear: both;
  background: #E6E6E6;
}
.main .taskContentView  .edit-content textarea {
 width: 360px;
 height: 210px;
 border: 1px solid #C7C7C7;
 resize: none;
 margin: 10px 0 0 0;
 clear: both;
}
/*欢迎块*/
.main .welcomeWords {
  /* width: 460px; */
  /* width: 100%; */
  position: absolute;
  text-align: center;
  left: 230px;
  right: 0;
  /* height: 300px; */
  /* margin-left: 230px; */
  padding-top: 90px;
  float: none;
  font-size: 19px;
}
.main .taskTypes {
  float: left;
  height: 100%;
  width: 230px;
  overflow: auto;
  border-right: 1px solid #C5C5C5;a
}
.main .taskTypes button{
  padding: 1px 9px 1px 9px;
  border-radius: 6px;
  background: #1DA951;
  border: none;
  color: white;
  cursor: pointer;
}
.main .taskTypes .title{
  line-height: 29px;
  text-align: center;
  /*color: white;*/
  font-size: 16px;
  /*border-bottom: 1px solid #008431;*/
}
.main .taskTypes .addType {
  border: 1px solid #1DA951;
  border-right: none;
  border-left: none;
  line-height: 40px;
}
.main .taskTypes .addType .typeText {
  line-height: 20px;
}
.main .taskTypes li{
  padding: 10px 0 10px 0;
  border: 1px solid #1DA951;
  border-bottom: none;
  border-right: none;
  border-left: none;
}
.main .taskTypes li span.name {
  display: inline-block;
  width: 75px;
  margin-left: 10px;
}
.main .taskTypes li .modifyBlock{
  display: block;
  line-height: 30px;
}
.main .taskTypes li .modifyBlock input[type=text]{
  width: 110px;
  line-height: 20px;
  margin-left: 10px;
  /*text-align: left;*/
}
.main .taskTypes li .modifyBlock.dn{
  display: none;
}
.task-wrapper {
  float: left;
}
.task-panel {
  display: none;
}
.task-panel.on {
  display: block;
}
.task-panel li {
  /*margin-bottom: 20px;*/
  line-height: 30px;
  border-bottom: 1px solid #006D28;
}
.task-panel li .taskName {
  display: block;
  width: 100%;
  color: white;
  line-height: 20px;
  padding-left: 5px;
}
.task-panel .addBlock {
  border-bottom: 1px solid #006D28;
  line-height: 30px;
}
.task-panel .completedTasks {
 line-height: 30px;
 border-bottom: 1px solid #00792D;
}
.task-panel .completedTasks .items {
  /*border: 1px solid #1B8442;*/
  /*border-radius: 2px;*/
}
.task-panel .completedTasks .items li {
  border-top: 1px solid #00792D;
  border-bottom: none;
}
.trashContent {
  display: none;
}
.trashContent.on {
  display: block;
}
.completedTasks .items{
  display: none;
}
.completedTasks .items.on {
  display: block;
}
header.top-header nav span.welcome {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  display: inline-block;
  overflow: hidden;
  line-height: 45px;
  height: 45px;
  font-size: 17px;
  color: white;
  font-family: serif;
}
header.top-header nav span.welcome .userName {
  /*margin-left: 20px;*/
}